
table{
    width: 100%; /*Hace que la tabla ocupe todo el ancho de la pagina */
    margin: 20px 0; /*Margenes de la tabla*/
}
body{
    background-color: rgba(245, 170, 9, 0.493);
}
th td{
    padding: 10px; /*Rellano dentro de las celdas*/
    text-align: left;/*Alinea el texto a la izquierda*/
    border: 1px solid black;
}
th{
    background-color: rgb(148, 122, 7); /*Fondo para el ancabezado*/
    color: rgb(255, 255, 255);
}
tr:hover{ 
    background-color: rgb(149, 103, 233); /*Cambia el fondo de las caldas al pasar el mouse*/
}